<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>

  <!-- Font Awesome Icons -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="css/creative.min.css" rel="stylesheet">
  <link href="css/form.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="http://localhost:8080/">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Start Bootstrap</a>
            </li>
              <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#api">APIs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Free Bootstrap Themes</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="languages" src="img/html.png" alt="HTML">
            <h3 class="h4 mb-2">HTML5</h3>
            <p class="text-muted mb-0">Structure...</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="languages" src="img/css.png" alt="CSS">
            <h3 class="h4 mb-2">CSS3</h3>
            <p class="text-muted mb-0">Stylized with...</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="languages" src="img/js.png" alt="JavaScript">
            <h3 class="h4 mb-2">JavaScript</h3>
            <p class="text-muted mb-0">Functionality...</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="languages" src="img/node.png" alt="Node">
            <h3 class="h4 mb-2">Node</h3>
            <p class="text-muted mb-0">Server...</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website1.png">
            <img class="img-fluid" src="img/website1.png" alt="Save Your Fork">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                HTML/CSS
              </div>
              <div class="project-name">
                Save Your Fork
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website2.png">
            <img class="img-fluid" src="img/website2.png" alt="The Lyman Hall Theater">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                HTML/CSS
              </div>
              <div class="project-name">
                The Lyman Hall Theater
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website3.png">
            <img class="img-fluid" src="img/website3.png" alt="The Spice Bowl">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                HTML/CSS
              </div>
              <div class="project-name">
                The Spice Bowl
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website4.png">
            <img class="img-fluid" src="img/website4.png" alt="Frustrated Fox">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                JavaScript
              </div>
              <div class="project-name">
                Frustrated Fox
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website5.png">
            <img class="img-fluid" src="img/website5.png" alt="Trophy Case Sports">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                JavaScript
              </div>
              <div class="project-name">
                Trophy Case Sports
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/website6.png">
            <img class="img-fluid" src="img/website6.png" alt="The Park City Gazette">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                JavaScript
              </div>
              <div class="project-name">
                The Park City Gazette
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div id="this">
      <a  class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_06_02/">Save Your Fork</a>
      <a class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_08_03/">The Lyman Hall Theater</a>
      <a class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_09_02/">The Spice Bowl</a>
      <a class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_10_03/">Frustrated Fox</a>
      <a class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_12_01/">Trophy Case Sports</a>
      <a class="btn btn-light btn-xl" href="https://tadcox009.github.io/S2_Project_13_03/">The Park City Gazette</a>
    </div>
  </section>

  <!-- API Section -->
  <section class="page-section bg-primary" id="api">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">APIs</h2>
          <p>pulling data from a database</p>
        </div>
      </div>
       

<style> 
#myContainer {
  width: 400px;
  height: 400px;
  position: relative;

}
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  position: relative;
  -webkit-animation: myfirst 9s 4; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 9s 4;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   {right: 0px; }
  50%  {right: 1050px;}
  100% {right: 0px; }
}

</style>
       <!-- pikachu -->
            <div class="card">
    <div id="pika" id ="myContainer" class="flip-card">
        <div id ="myAnimation" id="pika" class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="pikachu" class="flip-card-back">
          </div>
        </div>
      </div>  


      <div class="row">
        <div class="col-lg-4 mr-auto text-center">
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
        </div>
      </div>
       <!-- A form that submits contact information -->
    <form name="contactForm" action="mailto:toddjr021@gmail.com" method="post" enctype="text/plain">
        <fieldset>
            <!-- This field requests the users name -->
            <div class="formRow">
                <label for="name">Name*</label>
                <!-- This field is required, has placeholder text to let the user know what is needed. -->
                <input name="custName" id="name" type="text" placeholder="First and Last name" required />
            </div>
            <!-- This field requests the users phone number -->
            <div class="formRow">
                <label for="phone">Phone number*</label>
                <!-- This field is required, has placeholder text to let the user know what is needed. Has a regex to test if the number is real and not just a random set of numbers -->
                <input name="phone" id="phone" type="tel" placeholder="(nnn) nnn-nnnn" required
                    pattern="^\d{10}$|^(\(\d{3}\)\s*)?\d{3}[\s-]?\d{4}$" />
            </div>
            <!-- This field requests the users email -->
            <div id="formRow">
                <label for="mail">E-mail*</label>
                <!-- This field is required, has placeholder text to let the user know what is needed. Has a regex to test if the email is real and not just a random set of characters -->
                <input type="email" name="custEmail" id="mail" placeholder="example@gmail.com" required />
            </div>
            <div>
                <!-- A text area box to let the user type questions they have. -->
                <label for="commBox" id="commBox">Lets us know of any questions you have</label>
                <textarea name="custExp" id="commBox"></textarea>
        </fieldset>
        <div id="buttons">
            <!-- Submit button -->
            <input type="submit" id="submitButton" value="Submit My Survey" />
            <!-- Cancel button -->
            <input type="reset" value="Cancel" />
        </div>
    </form>
      <div class="row">
        <div class="col-lg-4 mr-auto text-center">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Todd Adcox Jr &#10070; Web Developer</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>
  <script src="js/submitForm.js"></script>
  <script src="js/api.js"></script>

</body>

</html>
