<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>Skillset</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- links the following style sheets -->
   <link rel="stylesheet" href="css/reset.css" />
   <link rel="stylesheet" href="css/general.css" />
   <link rel="stylesheet" href="css/skillset.css" />
   <!-- links a font from google -->
   <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet" />
</head>

<body>
   <header>
      <nav>
           <ul>
               <!-- links to different pages on the website -->
               <li><a href="#">Home</a></li>
               <li><a href="#">Education</a></li>
               <li><a href="#">Skillset</a></li>
               <li><a href="#">Work Experience</a></li>
           </ul>
       </nav>
   </header>
   <!-- this article has a id of computer because i wanted my desktop and mobile pages to look different, styles in the media queries prevent both from showing at the same time -->
   <article>
       <ul>
           <br>
           <!-- when you click the return to top button below it takes you back up to this point -->
           <h1 id="pagetop"></h1>
           <!-- the figure has a image and there is a caption above the image that is a cliackable link -->
           <figure>
               <figcaption>
                   <li><a href="https://tadcox009.github.io/S2_Project_03_01/">Philip Henslowe Classic Theatre</a></li>
               </figcaption>
               <br>
               <img src="img/website1.png" alt="" class="images" />
           </figure>
           <br>
           <p> This project was to test my skills in Setting a background, text colors using both color values and color names, applying a semi-transparent color, Selectors showing style rules applied to nested elements, child elements, and elements based on the id attribute, Styles that modify the appearance of list and list markers, the use of pseudo-elements and pseudo-classes as selectors, Styles that modify the padding space and margin space around an element and a style rule to generate content in the rendered page.</p>
           <br>
           <figure>
               <figcaption>
                   <li><a href="https://tadcox009.github.io/S2_Project_05_01/">Slate & Pencil Tutoring</a></li>
               </figcaption>
               <br>
               <img src="img/website2.png" alt="" class="images" />
           </figure>
           <br>
           <p>In this project, there was the use of the display property, applying the width and height style
               properties, both floated and cleared elements, a container element with a style rule so that it expands
               around its floated content, defined margin and padding spaces as well as maximum and minimum widths an
               example of relative or absolute positioning.</p>
           <br>
           <figure>
               <figcaption>
                   <li><a href="https://tadcox009.github.io/S2_Project_06_02/">Save your Fork</a></li>
               </figcaption>
               <br>
               <img src="img/website3.png" alt="" class="images" />
           </figure>
           <br>
           <p>This project covered the following, setting background images, a border around a page element, curved
               borders, box shadows around a page element, a text shadow around a section of element text, a
               background featuring both linear and radial gradients, changing the appearance of an element using the
               transform property, changing the appearance of an element using the filter property.</p>
           <br>
           <figure>
               <figcaption>
                   <li><a href="https://tadcox009.github.io/S2_Project_07_03/">Cauli-Wood Gallery</a></li>
               </figcaption>
               <br>
               <img src="img/website4.png" alt="" class="images" />
           </figure>
           <br>
           <p> This project covered Media queries that match devices of a specific widths (mobile, tablet, desktop),
               layout styles that vary based on the width of the device, a navigation list that is hidden from mobile
               users but can be displayed in response to a hover or touch event over a navicon, telephone and email
               links that are reformatted to make them easier to use on mobile devices, excluded elements in media
               queries, flex layouts oriented in either the row or column direction, uses the latest WebKit browser
               extension in all flex styles, Flex items that can grow and shrink from a defined initial size based on
               the width of the device screen, Flex items that change their order from the default document order in
               the HTML file, a flex layout that aligns the flex item content using the justify-content, align-items,
               align-content, or align-self properties.</p>
           <br>
           <figure>
               <figcaption>
                   <li><a href="https://tadcox009.github.io/S2_Project_08_03/">The Lyman Hall Theater</a></li>
               </figcaption>
               <br>
               <img src="img/website5.png" alt="" class="images" />
           </figure>
           <br>
           <p>In this project, there was tables, table caption, table row, column groups, examples of row- and/or
               column-spanning cells, examples of both heading and data cells, a border style applied to one or more
               table objects, a style that defines whether the table borders are separate or collapsed, styles applied
               to table rows and column groups, the use of horizontal and vertical alignment of the table cell content
               different widths, applied to different table columns, styles applied to the table caption</p>
               <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_09_02/">The Spice Bowl</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website6.png" alt="" class="images" />
               </figure>
               <br>
               <p>This project covered Input boxes, fieldsets, validation checks marking fields as required, use regular expression patterns to ensure that users enter information in the correct format, selection lists, option buttons, check boxes, text area box, form buttons: submit buttons and reset buttons.</p>
               <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_10_03/#">Frustrated Fox</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website7.png" alt="" class="images" />
               </figure>
               <br>
               <p>This project went over audio and video elements, how to animate in css, transitions, keyframes .vtt, mp3, mp4, .webm, and .ogg files and how to add captions with a .vtt file.</p>
               <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_11_01/">Star Dust Stories</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website8.png" alt="" class="images" />
               </figure>
               <br>
               <p>Lorem ipsum dolor sit at words words words words words words words words words words words words words words nostrum?</p>
                <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_12_01/">Trophy Case Sports</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website9.png" alt="" class="images" />
               </figure>
               <br>
               <p>Lorem ipsum dolor sit at words words words words words words words words words words words words words words nostrum?</p>
               <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_13_03/">Daily Crossword</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website10.png" alt="" class="images" />
               </figure>
               <br>
               <p>Lorem ipsum dolor sit at words words words words words words words words words words words words words words nostrum?</p>
                <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_14_1/">New Accents Photography</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website11.png" alt="" class="images" />
               </figure>
               <br>
               <p>Lorem ipsum dolor sit at words words words words words words words words words words words words words words nostrum?</p>
               <br>
               <figure>
                   <figcaption>
                       <li><a href="https://tadcox009.github.io/S2_Project_15_03/">Media Arts Society</a></li>
                   </figcaption>
                   <br>
                   <img src="img/website12.png" alt="" class="images" />
               </figure>
               <br>
               <p>Lorem ipsum dolor sit at words words words words words words words words words words words words words words nostrum?</p>
       </ul>
<!-- when you click this return to top bottom it takes you back up to the h1, styles in the media queries prevent both from showing at the same time -->
       <a id="returnbutton" id="pagetop" href="#pagetop">Return To Top</a>
   </article>
</body>

</html>