@charset "utf-8";

/* font style */

/* this adds the font following font from google */
@font-face {
    font-family: 'Kalam', cursive;
    src: url('https://fonts.googleapis.com/css?family=Kalam');
}

/* form styles */

/* sets the min and max width of the form, gives it a line height of 50 pixels. */
form {
    min-height: 81%;
    margin: auto;
    min-width: 480px;
    max-width: 960px;
    width: 100%;
    line-height: 50px;
}

/* The top and bottom magrin is set to 0 pixels and the left and right margin is set to 50 pixels. */
div {
    margin: 0px 50px;
}

/* Adds a border around the form, rounds the border, adds a linear-gradient to inside the form. */
fieldset {
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background: linear-gradient(white, rgb(230, 230, 230));
}

/* Sets the font size of the legend text to 2em, adds 5 pixels of space between each letter. */
legend {
    font-size: 2em;
    letter-spacing: 5px;
}

/* For the input element with the IDs of name, phone, and mail, they are being floated right, and given a width of 30% of the screen and 20 pixels of height. */
input#name,
input#phone,
input#mail {
    float: right;
    width: 30%;
    height: 20px;
}

/* Floats the textarea box right to line up with the input boxes, sets the width and height of the textarea box. */
textarea {
    margin-top: 10px;
    height: 100px;
    width: 55%;
    float: right;
    font-size: 14px;
}

/* Centers the submit and cancel button for the form. */
div#buttons {
    text-align: center;
}

/* end form styles */


/* nav styles */

/* the nav is being centered, has no underline under it. displays it in the same line, adds 50 pixels of padding to the left and right, changes the background color to black */
nav ul li {
    text-align: center;
    list-style: none;
    display: inline;
    padding: 5px 50px 0px 50px;
    background-color: black;
}

/* changes the text color to dark cyan */
li a {
    color: darkcyan;
}

/* displays the nav list items as block, floated left, has a width of 25% */
nav li {
    display: block;
    float: left;
    width: 25%;
    height: 25px;
}

/* for the following elements, it centers the text */
p,
h1,
h2,
h3,
#computer,
#mobile {
    text-align: center;
}

/* adds the following font family to the body, adds 10 pixels of padding, the text of body is set to black with a background color of light gray */
body {
    font-family: 'Kalam', cursive;
    padding-bottom: 10px;
    color: black;
    background-color: white;
}

/* for all p tags the font size is being set to 20 pixels */
p {
    font-size: 20px;
}

/* ===============================
    Mobile Styles up to 480 pixels
  ===============================
*/

/* this is a media query for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {

    /* the elements with the id's of person, edu all have 75 pixels of padding at the top */
    #person,
    #edu {
        padding-top: 75px;
    }

    /* the unordered list inside the nav are being centered, they do not have any text decoration, they are being displayed in one line, has 50 pixels of padding to both the left and right, 5 pixels of padding to the bottom, has a background color of black, has a width of 100% of the pages body */
    nav ul li {
        text-align: center;
        list-style: none;
        display: inline;
        padding: 0px 50px 5px 50px;
        background-color: black;
        width: 100%;
    }

    /* the list items with an a tag inside them have a text color of dark cyan */
    li a {
        color: darkcyan;
    }

    /* the nav list items are being displayed as blocks, floated left, and has a width of 20% */
    nav li {
        display: block;
        float: left;
        width: 20%;
    }

    /* the element with the class of "this" has a text color of white, background color of black, has a border radius of 20 (making the borders rounded), adds 10 pixels of padding around all sides of the element, has no text decoration */
    .this {
        color: white;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
    }

    /* the element with the class of webimg has 10 pixels of padding on the top */
    .webimg {
        padding-top: 10px;
    }

    /* the element with the class of flip-card has a transparent background, width of 100%, height of 300 pixels, a perspective of 1000 pixels, is being displayed as a flex box, the flex direction is making it into columns, adds 10 pixels of padding to the top and bottom.*/
    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 300px;
        perspective: 1000px;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 0px;
    }

    /* the element with the class of flip-card-iner has a position of relative, a width of 100%, a height of 300 pixels, centers the text, has a transition of transform with 0.8 seconds, and the transform style is set to preserve-3d so it looks 3d when it flips */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 300px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* the element with the class of flip-card and flip-card-inner has a transform to rotate y 180 degrees */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* the elements with the class of flip-card-front and flip-card-back have a position of absolute, has a width of 100%, a height of 30 pixels, backface-visibility Determines whether or not the back side of a transformed element is visible */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 30px;
        backface-visibility: hidden;
    }

    /* the elements with the class of flip-card-front has the following background color, the text color is being set to black, has a height of 300 pixels*/
    .flip-card-front {
        background-color: #bbb;
        color: black;
        height: 300px;
    }

    /*  the elements with the class of flip-card-back has a background color of dark cyan, has a text color of white, transforms y 180 degrees, has a height of 300 pixels */
    .flip-card-back {
        background-color: darkcyan;
        color: white;
        transform: rotateY(180deg);
        height: 300px;
    }

    /* the element with the class of flip has 5 pixels of padding to the top */
    .flip {
        padding-top: 5px;
    }

    /* the following elements will not be displayed on mobile devices */
    h1,
    #computer {
        display: none;
    }
}

/* ============================================
    Tablet and Desktop Devices: 481px or more
  ============================================
*/

/* this is a media query for devices with a width of 481 pixels or greater*/
@media only screen and (min-width:481px) {

    /* the element with the id of mobile will not be displayed for desktop devices */
    #mobile {
        display: none;
    }

    /* the element with the id of pagetop has no text decoration and a text color of dark cyan */
    #pagetop {
        text-decoration: none;
        color: darkcyan;
    }

    #returnbutton{
        float: left;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background-color: black;
        text-decoration: none;
        color: darkcyan;
    }
}